<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="CoviDoctor_ASP.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        body{
            background-color : #FFF7FF;
        }
        .auto-style1 {
            width: 100%;
        }
        .auto-style6 {
            margin : 5px;
            text-align: center;
            background-color: #FFF7FF;
            width: 1330px;
        }
        .auto-style13 {
            height: 104px;
            background-color: #5F4378;
            text-align: right;
            width: 1330px;
        }
        .auto-style14 {
            margin-bottom: 0px;
        }
        .auto-style15 {
            height: 40px;
            background-color: #FFEFFF;
            text-align: justify;
            width: 1330px;
        }
        .auto-style16 {
            position: relative;
            left: -37px;
            top: 5px;
        }
        .auto-style17 {
            position: relative;
            left: -15px;
            top: 0px;
        }
        .auto-style18 {
            width: 200px;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
        <table class="auto-style1">
            <tr>
                <td class="auto-style13">
                    &nbsp;&nbsp;&nbsp;&nbsp;<asp:ImageButton ID="ImageButton6" runat="server" CssClass="auto-style17" Height="90px" ImageUrl="~/IMAGE/CoviDoctor_Logo.png" OnClick="ImageButton6_Click" Width="90px" BorderColor="White" BorderWidth="0px" />
                    <asp:ImageButton ID="ImageButton5" runat="server" CssClass="auto-style16" Height="100px" ImageUrl="~/IMAGE/logo_edited.png" OnClick="ImageButton5_Click" Width="380px" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:ImageButton ID="ImageButton3" runat="server" Height="36px" ImageUrl="~/IMAGE/MyPage.jpg" Width="125px" CssClass="auto-style14" OnClick="ImageButton3_Click" />
                    &nbsp;<asp:ImageButton ID="ImageButton4" runat="server" Height="36px" ImageUrl="~/IMAGE/Log-out.jpg" Width="125px" CssClass="auto-style14" OnClick="ImageButton4_Click" />
                    &nbsp;<asp:ImageButton ID="ImageButton1" runat="server" Height="36px" ImageUrl="~/IMAGE/sign up.jpg" Width="125px" OnClick="ImageButton1_Click" />
                    &nbsp;<asp:ImageButton ID="ImageButton2" runat="server" Height="36px" ImageUrl="~/IMAGE/Log-in.jpg" Width="125px" OnClick="ImageButton2_Click" />
                </td>
            </tr>
            <tr>
                <td class="auto-style15">
                    <asp:ImageButton ID="ImageButton7" runat="server" Height="40px" ImageUrl="~/IMAGE/MENU.png" OnClick="ImageButton7_Click" Width="1457px" />
                </td>
            </tr>
            <tr>
                <td class="auto-style6">
                    <table class="auto-style1">
                        <tr>
                            <td class="auto-style18">
                                접속 일시<br />
                                <asp:Label ID="Label2" runat="server"></asp:Label>
                                <br />
                                <strong>
                                <asp:Label ID="Label1" runat="server"></asp:Label>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                </strong>
                            </td>
                            <td>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                <p>
                    <br />
                </p>
                <p>
                    &nbsp;</p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
            </asp:ContentPlaceHolder>
                            </td>
                        </tr>
                    </table>
                    <br />
                    &nbsp;&nbsp;&nbsp;
                    </td>
            </tr>
            </table>
    </form>
</body>
</html>
